@font-face {
  font-family: "Area Regular";
  src: url("/area regular.otf");
}

@font-face {
  font-family: "DrukWideBold";
  src: url("/DrukWideBold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

html {
  font-size: 16px;
}

body {
  font-family: "Area Regular";
  color: #fff;
  background-color: #212121;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.navigation__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 5rem;
  padding: 0;
}

.navigation__menu-item {
  list-style-type: none;
  font-weight: 600;
}

.navigation__menu-item button {
  position: relative;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 0;
}

.underline {
  position: absolute;
  background-color: white;
  bottom: 0;
  right: 6px;
  height: 1.5px;
  width: 2ch;
}

a {
  color: #fff;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.hero {
  position: relative;
  padding: 4rem;
  isolation: isolate;
}

h1 {
  font-family: DrukWideBold;
  font-size: clamp(24px, 8vw + 1px, 6rem);
  text-align: center;
  filter: none;
  transition: color 0.1s ease-in-out, filter 0.1s ease-in-out;
  user-select: none;
  pointer-events: none;
}

h1 span {
  display: block;
}

h1.hovering {
  /* -webkit-text-fill-color: rgb(33, 33, 33, 0); */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: #4c4c4c; */
  color: rgb(33, 33, 33);
  filter: drop-shadow(0px 0px 1px #4c4c4c) drop-shadow(0px 0px 1px #4c4c4c);
}

.thumbnail {
  position: absolute;
  width: 320px;
  height: 200px;
  z-index: -1;
}

.thumbnail .wrapper {
  display: inline-block;
  height: inherit;
  width: inherit;
}

.hover-detector {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 2;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;
}

.thumbnail .thumbnail__text {
  height: 3lh;
  transform: translate(50%, -45%);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.thumbnail .thumbnail__text h2 {
  width: 8ch;
  font-family: DrukWideBold;
  font-size: 2.2rem;
}

.thumbnail .thumbnail__text span {
  font-size: 0.9rem;
}

.thumbnail .placeholder {
  position: absolute;
  inset: 0;
  border: 1px solid #4c4c4c;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  z-index: -1;
}

.thumbnail:hover .placeholder {
  opacity: 0;
}

.thumbnail.thumbnail-tl {
  top: 16%;
  left: 8%;
}

.thumbnail.thumbnail-tr {
  top: 0;
  right: 16%;
}

.thumbnail.thumbnail-bl {
  bottom: 0;
  left: 12%;
}

.thumbnail.thumbnail-br {
  bottom: 20%;
  right: 8%;
}

.footer {
  margin-top: 4rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .thumbnail {
    display: none;
  }
}
